.header {
    text-align: center;
    margin-top: 3em;
    margin-bottom: 0.7em;
    font-size: 3em;
}

/* Form */
.contactPage {
    margin: 1.5em 10em 4em 10em;
    /* border: 1px solid rgb(253, 253, 142); */
    border: 2px solid lavender;
    border-radius: 25px;
    padding: 3em;
}
.contactPage #message {
    height: 200px;
    resize: none;
}

    /* Contact - Submitted Page */
#submitted {
    text-align: center;
    margin-top: 15em;
}

#submitted button {
    margin-top: 2em;
}

#submitted button a {
    text-decoration: none;
    border-right: 2px solid #09009a;
    border-left: 2px solid #09009a;
    padding: 0.5em;
    color: #09009a;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

#submitted button:hover {
    transform: scale(1.05);
}

/* Mobile-Responsive */
@media only screen and (max-width: 1280px) {
    /* Contact Page */
    .contactPage {
    margin: 1.5em 5em 4em 5em;
    }
}

@media only screen and (max-width: 768px) {
    /* Contact Page */
    .contactPage {
        margin: 1.5em 2em 4em 2em;
    }
}