.header {
    text-align: center;
    margin-top: 3em;
    margin-bottom: 0.5em;
    font-size: 3em;
}

#selectionBtn {
    text-align: center;
}

#selectionBtn button{
    text-align: center;
    padding-top: 1em;
    width: 10em;
    border-radius: 10px;
    margin: 2em;
    background-color: #09009a;
}

#selectionBtn .clicked {
    background-color: #09009a;
}

/* Order Forms */
.ordering {
    margin: 2em 4em 4em 4em;
}

form {
    padding: 1em 2em 1em 2em;
}

form h2 {
    margin-bottom: 0.5em;
}

#pick-upForm button, #deliveryForm button {
    border-radius: 20px;
}

#pick-upForm #message, #deliveryForm #message {
    height: 100px;
    resize: none;
}

/* Selecting What to Order */
#pick-upForm .checkBoxes, #deliveryForm .checkBoxes{
    margin: 0;
    padding: 1em;
    border: 1px solid lightgrey;
    border-radius: 0.25rem;
}

#pick-upForm .checkBoxes #col1, #deliveryForm .checkBoxes #col1 {
    border-right: 1px solid lightgray;
    padding-right: 3em;
    padding-left: 3em;
}

#pick-upForm .checkBoxes #col2, #deliveryForm .checkBoxes #col2 {
    padding-left: 3em;
}

#pick-upForm .checkBoxes h5, #deliveryForm .checkBoxes h5 {
    text-decoration: underline;
}

#pick-upForm .checkBoxes .quantity, #deliveryForm .checkBoxes .quantity {
    width: 10px;
    float: right;
}

    /* Order - Submitted Page */
#submitted {
    text-align: center;
    margin-top: 15em;
}
#submitted button {
    margin-top: 2em;
}

#submitted button a {
    text-decoration: none;
    border-right: 2px solid #09009a;
    border-left: 2px solid #09009a;
    padding: 0.5em;
    color: #09009a;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

#submitted button:hover {
    transform: scale(1.05);
}

/* Mobile-Responsive */
@media only screen and (max-width: 1280px) {
    .ordering {
        margin-left: 2em;
        margin-right: 2em;
    }
    #pick-upForm .checkBoxes .quantity, #deliveryForm .checkBoxes .quantity {
        float: none;
    }
}

@media only screen and (max-width: 768px) {
    #pick-upForm .checkBoxes #col1, #deliveryForm .checkBoxes #col1 {
        border-right: none;
        padding-right: 0;
        padding-left: 1em;
    }
    
    #pick-upForm .checkBoxes #col2, #deliveryForm .checkBoxes #col2 {
        padding-left: 1em;
    }

}

